/* Global Styles */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5e1da;
  /* Background color based on the first color */
}

h1,
h2,
h3 {
  color: #476268;
  /* Fourth color for headings */
}

/* Tailwind custom utility classes for colors */
.first-color {
  background-color: #f5e1da;
}

.second-color {
  background-color: #f1f1f1;
}

.third-color {
  background-color: #40a798;
}

.fourth-color {
  background-color: #476268;
}

.text-fourth-color {
  color: #476268;
}

.text-third-color {
  color: #40a798;
}