/* Global Styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5e1da;
  /* Background color based on the first color */
}

/* Typography */
h1,
h2,
h3 {
  color: #476268;
  /* Fourth color for headings */
}

/* Utility Classes */
.sticky {
  position: sticky;
  top: 0;
  /* Adjust top based on stacking */
  z-index: 10;
}

.relative {
  margin-top: calc(60px + 20px);
  /* Example spacing for sticky headers */
}

/* Color Utilities */
.first-color {
  background-color: #f5e1da;
}

.second-color {
  background-color: #f1f1f1;
}

.third-color {
  background-color: #40a798;
}

.fourth-color {
  background-color: #476268;
}

.text-fourth-color {
  color: #476268;
}

.text-third-color {
  color: #40a798;
}